$bs-normal-padding:15px;

/*
  工具类相关
 */
 .mo-text-left{
  text-align: left;
}
.mo-text-center{
  text-align: center;
}
.mo-text-right{
  text-align: right;
}

//子菜单展开效果
.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity .4s ease;
}
.component-fade-enter, .component-fade-leave-active {
  opacity: 0;
}

.clearPadding{
  margin-top:-15px;
}

